.container {
    width: 100%;
}

.main {
    display: flex;
}

.content {
    padding: 0 60px;
    width: 70.21%;
    border-right: 1px solid var(--border-primary);
}

.playlist {
    width: 329px;
}
