.wraper {
    position: relative;
    width: 237px;
    height: 100vh;
    background-color: var(--bg-sidebar);
}

.header-logo {
    padding: 15px 25px 15px 28px;
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: 40px;
}

.list-title {
    position: relative;
    padding-bottom: 15px;
    &::after {
        content: '';
        height: 1px;
        background-color: var(--textColor-sidebar);
        position: absolute;
        top: 100%;
        left: 25px;
        right: 25px;
    }
}

.sidebar-scrollbar {
    padding-top: 10px;
}

.library {
    margin-top: 15px;
    margin-bottom: 70px;

    h4 {
        color: var(--text-hover);
        padding: 0 0 15px 25px;
        font-size: 12px;
        font-weight: 700;
    }
}

.sidebar-bottom {
    border-top: 1px solid var(--textColor-sidebar);
    padding: 15px 0;
}
