.wraper {
    width: 216px;
    height: 287px;
    position: relative;

    .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        border-radius: 4px;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
            transition: all 0.3s linear;
        }
    }

    .introduce {
        position: absolute;
        bottom: 15px;
        width: 100%;
        padding: 0 16px;
        .small-img {
            display: flex;
            justify-content: space-between;

            .avatar-3,
            .avatar-2,
            .avatar-1 {
                width: 53.33px;
                height: 53.33px;
                overflow: hidden;
                border-radius: 4px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &:hover .avatar {
        transform: scale(1.1);
    }
}
