.wrapper {
    padding: 0 60px;
    margin: 70px 0 90px 0;
    height: 10000px;

    .title {
        margin: 30px 0 16px 0;
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 20px;
            color: var(--text-primary);
        }
    }

    .all {
        display: flex;
        align-items: center;
        color: var(--text-secondary);
        font-size: 12px;
        &:hover {
            color: var(--link-text-hover);
            cursor: pointer;
        }
    }
}
.newMusic,
.edm,
.top,
.MusicEveryDay,
.SongByDay,
.NewRelease,
.introduc-song,
.fan-singer,
.artist {
    margin-top: 30px;

    h3 {
        font-size: 20px;
        color: var(--text-primary);
    }
}

.NewRelease {
    .btn {
        display: flex;
        justify-content: space-between;
    }

    .btn-release {
        margin: 15px 0;
    }
}

.newMusic,
.artist,
.SongByDay {
    h3 {
        margin-bottom: 16px;
    }
}

.poster {
    margin-top: 20px;
}

.singer {
    margin-top: 30px;
}
.radio {
    margin: 30px 0 16px 0;
    h3 {
        margin-bottom: 16px;
        color: var(--text-primary);
    }
    h4 {
        font-weight: 600;
        font-size: 16px;
        color: var(--text-primary);
    }
}
