@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-hover: hsla(0, 0%, 100%, 0.1);
    --bg-layout: #1e1e1e;
    --bg-sidebar: hsla(0, 0%, 100%, 0.05);
    --textColor-sidebar: #a0a0a0;
    --text-hover: #fff;
    --color-text: #fff;
    --btn-live: #ef0f0f;
    --color-black: #000;
    --color-header: #eee;
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --border-primary: hsla(0, 0%, 100%, 0.1);
    --navigation-text: #a0a0a0;
    --tab-active-bg: hsla(0, 0%, 100%, 0.3);
    --text-primary: #fff;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.2);
    --player-bg: rgba(0, 0, 0, 0.2);
    --link-text-hover: #c662ef;
    --purple-primary: #7200a1;
    --layout-bg: #1e1e1e;
    --new-release-box-shadow: none;
    --box-item-bg: hsla(0, 0%, 100%, 0.1);
    --main-text-stroke: #fff;
    --white: #fff;
    --primary-bg: #282828;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-layout);
}

//scroll body
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

.active {
    background-color: var(--bg-hover);
    color: var(--color-text);
}

// css của thư viện tippy
.tippy-box {
    font-size: 12px;
    line-height: none;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;

    opacity: 0.75;
    color: rgba(0, 0, 0, 0.7);
}

.slick-prev {
    left: -44px;
}
