@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-hover: hsla(0, 0%, 100%, 0.1);
    --bg-layout: #1e1e1e;
    --bg-sidebar: hsla(0, 0%, 100%, 0.05);
    --textColor-sidebar: #a0a0a0;
    --text-hover: #fff;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-layout);
}
